{% extends "base.html" %}
{% block title %} {{ author.name }} {% endblock %}

{% block content %}
<!--正文-->
<div class="xsbody clearfix">
	<!--正文-->
	<div class="block-all clearfix">
		<div class="blocktitle clearfix">
			<h1>{{ author.name }}所有作品</h1>
		</div>
	</div>
	<div class="block-all clearfix">
		<ul class="articlelist">
			<li class="title"><div class="c1">文章名称</div><div class="c3">最新章节</div><div class="c6">更新时间</div><div class="c7">状态</div></li>
            {% for b in books %}
			<li>
                <div class="c1"><a href="/book/{{ b.id }}.html" target="_blank">{{ b.name }}</a></div>
                <div class="c3"><a href="/book/{{ b.id }}/{{ b.last_chapter_id }}.html" target="_blank">{{ b.last_chapter_title }}</a></div>
                <div class="c6">{{ b.last_update_at | datetimeformat("%Y-%m-%d") }}</div>
                <div class="c7">{{ b.is_finish | get_status }} </div>
			</li>
            {% endfor %}
		</ul>
	</div>

</div><!--xsbody-->
{% endblock %}
